.client-component-wrapper {
    width: 100px;
    height: 100px;
    background-color: #7FFFD4;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: left 0.16s linear, top 0.16s linear;
    z-index: 2;
  }