.server-component-wrapper {
    width: 100px;
    height: 100px;
    background-color: #A52A2A;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: left 0.16s linear, top 0.16s linear;
    z-index: 2;
  }

  .server-component-wrapper-overloaded {
    width: 100px;
    height: 100px;
    background-color: black;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: left 0.16s linear, top 0.16s linear;
    z-index: 2;
    color: white;
  }